<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/header.ejs %>
  <title></title>
  <style>
    img {
      width: 100%;
    }
  </style>
</head>

<body>


  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto">
        <h1 class="text-center display-4 my-4">Mongo Files</h1>
        <form action="/upload" method="POST" enctype="multipart/form-data">
          <div class="custom-file mb-3">
            <input type="file" name="file" id="file" class="custom-file-input" />
            <label for="file" class="custom-file-label">Choose File</label>
          </div>
          <input type="submit" value="Submit" class="btn btn-primary btn-block" />
        </form>
        <hr />
        <% if(files){ %> <% files.forEach(function(file) { %>
        <div class="card card-body mb-3">
          <% if(file.isImage) { %>
          <img src="image/<%= file.filename %>" alt="" />
          <% } else { %> <%= file.filename %> <% } %>
          <form method="POST" action="/files/<%= file._id %>?_method=DELETE">
            <button class="btn btn-danger btn-block mt-4">Delete</button>
          </form>
        </div>
        <% }) %> <% } else { %>
        <p>No files to show</p>
        <% } %>
      </div>
    </div>
  </div>

  <script src="js/app.js"></script>


</body>

</html>